<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.lasgis.kotlin.demo.web.dao"/>
    </typeAliases>
<!--    <typeHandlers>-->
<!--        <typeHandler handler="com.lasgis.kotlin.demo.web.mybatis.RoleTypeHandlers"/>-->
<!--    </typeHandlers>-->
    <mappers>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
    </mappers>
</configuration>
