<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lasgis.kotlin.demo.web.mybatis.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id property="userId" column="umusr_user_id"/>
        <result property="userId" column="umusr_user_id"/>
        <result property="name" column="umusr_name"/>
        <result property="login" column="umusr_login"/>
        <result property="password" column="umusr_password"/>
        <result property="archived" column="umusr_archived"/>
        <collection property="roles" ofType="UserRole">
            <id column="umrle_role_id"/>
        </collection>
    </resultMap>

    <select id="findByLogin" resultMap="userResultMap">
        SELECT
            usr.umusr_user_id,
            usr.umusr_name,
            usr.umusr_login,
            usr.umusr_password,
            usr.umusr_archived,
            url.umrle_role_id
        FROM um_user usr
            LEFT OUTER JOIN um_user_role url on usr.umusr_user_id = url.umusr_user_id
         WHERE usr.umusr_login = #{login}
    </select>

<!--
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId" keyColumn="umusr_user_id">
        INSERT INTO um_user (umusr_name, umusr_login, umusr_password, umusr_archived)
        VALUES(#{name}, #{login}, #{password}, #{archived})
    </insert>
-->
</mapper>